<div class="devise-form">
  <div class="container">
    <div class="row padded">
      <%= render "shared/navbarspace"  %>
      <h2><b>Join</b> the club!</h2>
      <div class="header-line-white"></div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <div class="input-form">
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="form-inputs">
           <%= f.input :email, required: true, autofocus: true %>
           <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
           <%= f.input :password_confirmation, required: true %>
           <%= hidden_field_tag "user[guide]", params[:guide] %>
         </div>

         <div class="form-actions">
          <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</div>
