<div class="body-bookings-visitor">
  <div class="banner-bookings-visitor">
    <%= render "shared/navbarspace"%>
    <% if @bookings.size == 1 %>
    <h1><b>Congratulations</b> <%= @visitor.first_name %>, with your first adventure!</h1>
    <% elsif @bookings.size > 1 %>
    <h1><b>Congratulations</b> <%= @visitor.first_name %>, with a new booking!</h1>
    <% else %>
    <h1>You have no bookings</h1>
    <% end %>
    <% if current_user.provider %>
     <%= image_tag current_user.picture, class: "booking-photo" %>
    <% else current_user.photo == nil %>
    <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=6&txt=50%C3%9750&w=50&h=50", class: "booking-photo"%>
    <% end %>
  </div>
  <div class="content-visitor">
    <% @bookings.each do |booking| %>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 ">
          <div class="card">
            <h4>Guide: <%= booking.guide.first_name %></h4>
            <i class="fa fa-envelope-o">
            </i> <%= booking.visitor.email %> |
            <i class="fa fa-phone">
            </i> <%= booking.visitor.phone %> |
            <i class="fa fa-calendar"></i>
            <%= booking.date %>
            <b>Category: </b>
            <%= booking.tour.category.name %> |
            <b>Check-in:</b> <%= l(booking.check_in, format: :hours) %>
            <b>Check-out:</b> <%= l(booking.check_out, format: :hours) %>
            <b>Status:</b> <%= booking.status %> |
            <b>Price:</b> <%= booking.total_price %>
            <br>
            <%= link_to 'cancel', cancel_visitor_booking_path(booking), method: :patch, data: {confirm: 'Are you sure to cancel this booking?'}, :class => "btn btn-warning btn-sm" %>
            <%# end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <%= link_to "homepage", root_path, :class => "btn btn-default btn-sm" %>
  </div>
</div>
</div>

