<div class="body-bookings-visitor">
  <div class="banner-bookings-visitor">
    <%= render "shared/navbarspace"%>
    <% if @bookings.size == 1 %>
    <h1><b>Congratulations</b> <%= @visitor.first_name %>
      with your first adventure!</h1>
      <% elsif @bookings.size > 1 %>
      <h1><b>Congratulations</b> <%= @visitor.first_name %>, with a new booking!</h1>
      <% else %>
      <h1>You have no bookings</h1>
      <% end %>
      <%= link_to "homepage", root_path, :class => "btn btn-default btn-sm" %>
    </div>
    <div class="content-booking-visitor">
      <div class="container">
        <div class="row">
          <% @bookings.each do |booking| %>
          <div class="col-xs-12">
            <div class="bookings-card">
              <div class="bookings-photo" style="background: url(<%= booking.guide.photo %>)">
                <div class="name-guide-booking">
                  <%= booking.guide.first_name %> <%= booking.guide.last_name %>
                </div>
              </div>
              <div class="bookings-guide-text">
                <p><i class="fa fa-euro"></i> <%= booking.total_price %></p>
                <p><i class="fa fa-envelope-o"></i> <%= booking.guide.email %>
                  <p><i class="fa fa-phone"></i></i> <%= booking.guide.phone %></p>
                </div>
                <div class="bookings-text">
                  <p><i class="fa fa-calendar"></i> <%= l(booking.date, format: "%a %d %b") %></p>
                  <p><i class="fa fa-clock-o"></i> <%= l(booking.check_in, format: :hours) %> - <%= l(booking.check_out, format: :hours)%> </p>
                  <p>category: <%= booking.tour.category.name %></p>

                </div>
                <div class="status-booking text-center">
                  <% if booking.status == "pending" %>
                  <p>status:</p>
                  <p style="color:#F7DB61;"><i class="fa fa-pause-circle"></i> <%= booking.status %></p> <p><%= link_to 'cancel', cancel_visitor_booking_path(booking), method: :patch, data: {confirm: 'Are you sure to cancel this booking?'}, class: "cancel-button" %></p
                  <% else %>
                  <p>status:</p>
                  <p style="color: #d9534f;"><i class="fa fa-times-circle"></i> <%= booking.status %></p>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

