
<div class="text-center">
  <h1>Visitor Bookings Index</h1>

  <% @bookings.each do |booking| %>
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="card">
        <h4>Booking: <%= booking.guide.first_name %></h4>
        <p><i class="fa fa-envelope-o"></i> <%= booking.guide.email %>,
          <p><i class="fa fa-phone"></i>  <%= booking.guide.phone %></p>
          <p>About the booking: <%= booking.check_in %> - <%= booking.check_out %></p>
          <p>Status: <%= booking.status %></p>
          <% if booking.status != 'cancel' %>
            <%= link_to 'cancel', cancel_visitor_booking_path(booking), method: :patch, data: {confirm: 'Are you sure to cancel this one?'} %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
