<div class="body-bookings-visitor">

  <%= render "shared/navbarback"%>

  <div class="banner-bookings-visitor">
    <% if @bookings.size == 1 %>
      <h1>
      <b>Congratulations</b>
      <%= @visitor.first_name %>, <br>
      with your first adventure!
      </h1>
    <% elsif @bookings.size > 1 %>
      <h1><b>Congratulations</b>
      <%= @visitor.first_name %>, <br>
      with a new booking!
      </h1>
    <% else %>
      <h1>You have no bookings</h1>
    <% end %>
  </div>
  <div class="header-line"></div>

      <div class="content-booking-visitor">
        <div class="container" id="map">
          <div class="basic-bookings-card">
            <div class="row">
            <% @bookings.each do |booking| %>
              <div class="col-xs-12 col-sm-6">
                <div class="bookings-card">

                  <div class="guide-name">
                  <%= booking.guide.first_name %>
                  <%= booking.guide.last_name %>
                  </div>
                  <%#= link_to image_tag(booking.guide.photo), detail_guide_path(booking.guide), remote: true, class: "bookings-photo" %>

                  <%= image_tag booking.guide.photo, \
                  class: "bookings-photo" %>

                  <div class="bookings-text">
                    <div>
                      <i class="fa fa-calendar"></i>
                      <%= l(booking.date, format: "%A %d %B") %>
                    </div>
                    <div>
                      <i class="fa fa-clock-o"></i>
                      <%= l(booking.check_in, format: :hours) %> - <%= l(booking.check_out, format: :hours)%>
                    </div>
                    <div>
                    <i class="<%= category_icon_css_class(booking.tour.category) %>"></i>
                    <%= booking.tour.category.name %>
                    </div>
                  </div>

                  <div class="status-booking text-center">
                    <% if booking.status == "pending" %>
                      <%= link_to cancel_visitor_booking_path(booking), \
                        method: :patch, data: {confirm: 'Are you sure to cancel this booking?'}, \
                        class: "cancel-button" do %>
                          <i class="fa fa-times-circle-o icon-cancel-button"></i>
                          <i class="fa fa-circle icon-cancel-button-back" style="color: #EEEEEE"></i>
                        <% end %>
                    <% end %>
                    <div class="price-info">
                      <p>
                      <i class="fa fa-euro"></i>
                      <%= booking.total_price %>
                      </p>
                    </div>

                    <div>
                      <% if booking.status == "pending" %>
                        <div style="color:#F7DB61;">
                          <%= booking.status %>
                        </div>
                      <% elsif booking.status == "confirm" %>
                        <div style="color: #5cb85c;;">
                          <%= booking.status %>
                        </div>

                      <% else %>
                        <div style="color: #d9534f;">
                          <%= booking.status %>
                        </div>
                      <% end %>
                    </div>

                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
