  <div class="container">
    <div class="row">
      <div class="header-form">
        <h1>Book your guide <b><%= @tour.user.first_name  %> !</b></h1>
        <p>In the category <%= @tour.category.name  %></p>
        <br>
        <div class="header-line-white"></div>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 padded">
        <div class="container-boeking">
          <div class="guide text-center">
            <h2>- <%= @tour.user.first_name %> <%= @tour.user.last_name %> -</h2>
            <div class="price">€<%= @tour.user.hour_rate  %></div>
              <%= link_to guide_path(@tour.user) do %>
                <% if @tour.user.provider %>
                  <%= image_tag @tour.user.picture, class: "guide-photo"  %>
                <% elsif current_user.photo != nil %>
                  <%= image_tag @tour.user.photo, class: "guide-photo"  %>
                  <% else %>
                  <%= image_tag "https://placeholdit.imgix.net/~text?txtsize=19&txt=200%C3%97200&w=200&h=200", class: "guide-photo"  %>
                  <% end %>
              <% end %>
            <div class="stars">
              <% @tour.user.rating.times do %>
                <i class="fa fa-star"></i>
              <% end %>
              <% (5 - @tour.user.rating).times do %>
                <i class="fa fa-star-o"></i>
              <% end %>
            </div>
            <hr>
          </div>
          <div class="form">
            <%= simple_form_for(@booking, url: tour_bookings_path(@tour)) do |f| %>
            <%= f.error_notification %>
            <%= f.input :date %>
            <div class="dates">
              <div>
                <%= f.input :check_in, minute_step: 15, input_html: { class: 'book-date' } %>
              </div>
              <div>
                <div class="input-time">
                  <%= f.input :check_out, minute_step: 15, input_html: { class: 'book-date' } %>
                </div>
              </div>
            </div>
            <%= f.submit class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-sm-offset-4 text-center">
        <div class="buttons">
          <%= link_to "Homepage", root_path, :class => "button-photo" %>
          <%= link_to "Tours", tours_path, :class => "button-photo" %>
        </div>
      </div>
    </div>
  </div>
