<h1>Booking New</h1>


<%= simple_form_for(@booking, url: tour_bookings_path(@tour)) do |f| %>
<%= f.error_notification %>
<%= f.input :date %>
<%= f.input :check_in, minute_step: 15, input_html: { class: 'book-date' } %>
<%= f.input :check_out, minute_step: 15, input_html: { class: 'book-date' } %>
<%= f.submit class: "btn btn-primary" %>
<% end %>

<hr>

<%= link_to "Homepage", root_path, :class => "btn btn-default" %>
<%= link_to "Tours", tours_path, :class => "btn btn-default" %>
