<div class="navbar-wagon">
  <!-- Logo -->
  <div>
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "48hrs_logo_white.svg", class: "logo-my48" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%#= link_to t(".sign_in", default: "HOW IT WORKS"), root_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%#= link_to t(".sign_in", default: "EPIC STORIES"), root_path , class: "navbar-wagon-item navbar-wagon-link" %>
    <%#= link_to t(".sign_in", default: "ABOUT"), root_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

    <!-- Profile picture and dropdown -->
    <%= render "shared/navbarmenu"  %>

    <% else %>
    <!-- Login text link -->
    <%= link_to t(".top_call_to_action", default: "BECOME A GUIDE"), new_user_registration_path(guide: true), class: "navbar-wagon-item navbar-wagon-button btn" %>

    <%= link_to t(".top_call_to_action", default: "SIGN IN"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" style="color:white;" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <!-- <li> -->
         <%#= link_to t(".sign_in", default: "How it works"), root_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <!-- </li> -->
       <!-- <li> -->
         <%#= link_to t(".sign_in", default: "Epic stories"), root_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <!-- </li> -->
       <!-- <li> -->
         <%#= link_to t(".sign_in", default: "About"), root_path, class: "navbar-wagon-item navbar-wagon-link" %>
       <!-- </li> -->
       <% if user_signed_in? %>
        <% if current_user.guide == true %>
          <li>
            <%= link_to account_profile_path do %>
              <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
            <% end %>
        </li>
        <% else %>
          <li>
           <%= link_to visitor_bookings_path do %>
             <i class="fa fa-book"></i>  <%= t ".profile", default: "Bookings" %>
           <% end %>
         </li>
       <% end %>
      <% if current_user.guide == true %>
        <li>
          <%= link_to account_bookings_path do %>
            <i class="fa fa-book"></i>  <%= t ".profile", default: "Bookings" %>
          <% end %>
        </li>
      <% end %>
        <li>
          <%= link_to root_path do %>
            <i class="fa fa-home"></i>  <%= t ".profile", default: "Home" %>
          <% end %>
        </li>
       <li>
         <%= link_to destroy_user_session_path, method: :delete do %>
         <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
         <% end %>
       </li>
       <% else %>
       <li>
         <%= link_to new_user_registration_path(guide: true), class: "navbar-wagon-item navbar-wagon-link" do %>
          <i class="fa fa-sign-out"></i> <%= t(".top_call_to_action", default: "Become a guide") %>
         <% end %>
       </li>
       <li>
           <%= link_to t(".top_call_to_action", default: "Sign-in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
       </li>
       <% end %>
     </ul>
   </div>
 </div>
</div>
