<h1>Account Tours Edit</h1>

<%= simple_form_for(@tour, url: account_tour_path(@tour)) do |f| %>
<%= f.error_notification %>

<%= f.select :category, @categories.map { |category| category.name } %>
<%= f.input :description %>
<%= f.button :submit %>

<% end %>
