<div class="container-index-tours">
  <div class="container">
    <div class="row">
      <div class="container-header-tours">
        <h1><b><%= @guide.first_name %>'s</b> tours</h1>
        <div class="header-line"></div>
        <%= link_to "Add", new_account_tour_path, :class => "btn btn-success btn-sm"%>
        <%= link_to "Homepage", root_path, :class => "btn btn-default btn-sm" %>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <table class="table table-hover table-responsive" style="width:100%">
          <thead>
            <tr>
              <th>Category</th>
              <th>Description</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <% @tours.each do |tour| %>
          <tr>
            <td><%= tour.category.name %></td>
            <td><%= tour.description %></td>
            <td class= "text-right">
            <%= link_to "edit", edit_account_tour_path(tour), :class => "btn btn-primary btn-sm"   %>
              <%= link_to "delete", account_tour_path(tour), method: :delete, data: { confirm: "Are you sure?" },  :class => "btn btn-warning btn-sm"%></td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
