<div class="wrapper-tours">
  <div class="<%= category_banner_css_class(@selected_category) %>"></div>
  <%= render "shared/navbarspace" %>
  <div class="main-container">
    <% if @selected_category.is_a?(Category) %>
      <h1 class="text-center"><%= @selected_category.name %> <b>Guides</b></h1>
      <p class="category-description text-center"><%= @selected_category.description %></p>
      <% else %>
        <h1 class="text-center"> Choose your personal <b>Guides</b></h1>
        <p class="category-description text-center"></p>
    <% end %>

    <div class="tours-container">
      <div class="media-flex-1">
        <div class="category-cards">
          <% @categories.each do |category| %>
          <div class="category-item" style="background: url(<%= category.photo %>)">
            <%= link_to "", tours_path({category_id: category.id}), class: "gradient-link" %>
            <p> <%= category.name  %></p>
          </div>
          <% end %>
        </div>
      </div>
      <div class="flex-1">
        <div class="profiles-container">
          <% @guides.each do |guide| %>
          <% if guide.guide == true %>
          <div class="card-position">
           <div class="card-profile">
              <%= link_to image_tag(guide.photo), detail_guide_path(guide, category_id: params[:category_id]), remote: true %>

             <div class="card-who">
              <div>

                <p class="card-name">
                  <%= link_to detail_guide_path(guide, category_id: params[:category_id]), remote: true do %>
                    <%= guide.first_name  %> <%= guide.last_name %>
                  <% end %>
                </p>

                <p class="card-rating">
                  <% 3.times do %>
                  <i class="fa fa-star"></i>
                  <% end %>
                  <% 2.times do %>
                  <i class="fa fa-star-o"></i>
                  <% end %></p>
                </p>
              </div>
            </div>
            <div class="card-action-icons">
              <div class="card-booking">
                <a href=""><i class="fa fa-phone"></i></a>
                <a href=""><i class="fa fa-envelope"></i></a>
              </div>
            </div>
          </div>
          <div class="card-padding">
            <p class="description"><%= guide.bio %></p>
          </div>
          <div class="arrow-up"></div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class='modal-profile'>
</div>
