<div class='guide-card-container'>
  <div class="guide-card">
    <div class="guide-card-avatar" style="background: url('http://placehold.it/250x250')">
      <div class="guide-card-booking">
        <p class="rating">
          <% 3.times do %>
          <i class="fa fa-star"></i>
          <% end %>
          <% 2.times do %>
          <i class="fa fa-star-o"></i>
          <% end %>
        </p>
      </div>
    </div>
    <div class="guide-card-bio">
      <div class="guide-card-row">
        <h3><%= guide.first_name %> <%= guide.last_name %> </h3>
        <div class="card-action-icons">
          <div class="card-booking">
            <a href=""><i class="fa fa-phone"></i></a>
            <a href=""><i class="fa fa-envelope"></i></a>
          </div>
        </div>
        <p class="guide-card-bio-description"><%= guide.bio %></p>
        <p class="guide-card-bio-hour-rate"> $ <%= guide.hour_rate %> /h</p>
      </div>
    </div>
  </div>

  <div class="guide-card-information">
    <div class="guide-card-about">
      <h3>Activity <span class="hrs-left">(20hrs left)</span></h3>
      <p><%= main_tour.description %></p>
      <%= link_to new_tour_booking_path(main_tour), class: "button-booking" do %>
      <p>Booking</p>
      <% end %>

    </div>
  </div>

  <div class="guide-card-information">
    <div class="guide-card-tours">
     <hr>
     <h4>More tours</h4>

     <% extra_tours.each do |tour| %>
     <div class="guide-card-tour">
      <p class="booking-description"><%= tour.description %></p>
      <span class"hrs-left">1hr left</span>
      <%= link_to detail_guide_path(guide, category_id: tour.category_id), remote: true, class: "button-checking" do %>
      <p>Check</p>
      <% end %>
    </div>
    <% end %>
  </div>
</div>


<div class="guide-card-rating text-center">
 <hr>
 <div class="guide-card-avarage-rating">
  <h4>Average Rating</h4>
  <p class="avarage-number"> 5.0</p>
  <p>★ ★ ★ ★ ★   152 ratings</p>
</div>
</div>



<div class="user-card-review">
  <div class="arrow-left"></div>
  <div class="user-card-review-profile">
    <div class="user-avatar-review-letter"><span>S</span></div>
  </div>
  <div class="user-card-comment-row">
   <div class="user-card-review-comment">
    <p>Was a very helpfull session, straight to the point of what I need! Thanks!</p>
  </div>
  <div class="user-card-review-comment-footer">
    <p>Susan</p>
    <p class="date">Mar 24, 2016</p>
  </div>
</div>
</div>
</div>
