<h1>Guides Index</h1>

<ul>
  <% @guides.each do |guide|  %>
  <li>
  <b>id: </b>
    <%= guide.id  %> |
  <b>Guide: </b>
    <%= guide.first_name %>
    <%= guide.last_name %> |
    <i class="fa fa-map-marker"></i>
    <%= guide.street %>
    <%= guide.zipcode %>
    <%= guide.city %> |
    <i class="fa fa-phone"></i>
    <%= guide.phone %> |
    <i class="fa fa-info-circle"></i>
    <%= guide.bio %> |
    <i class="fa fa-eur"></i>
    <%= guide.hour_rate %>

    <%= link_to "See Profile", guide_path(guide), :class => "btn btn-primary btn-sm" %>
    <hr>
  </li>
<% end %>
</ul>

<%= link_to "homepage", root_path, :class => "btn btn-default btn-sm" %>
