<!DOCTYPE html>
<html>
<head>
<title>HRS - Be one of the locals!</title>
  <%= favicon_link_tag "favicon.png"  %>
  <%= csrf_meta_tags %>
  <meta name="keywords" content="locals, guide, amsterdam, tour, adventure, tourist, journey, party, beers, food, sport, activities, activity">
  <meta name="description" content="48hrs is your platform for a local guide. Are you looking for a local guide?">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>
<body>
  <%= render 'shared/flashes' %>
  <%= render 'shared/navbar' %>
  <%= yield %>
  <%= javascript_include_tag 'application' %>
</body>
</html>
